@import 'tailwindcss';

@plugin '#heroui-tw-plugin';

@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --height-header: var(--header);
  --height-footer: var(--footer);
  --spacing-header: var(--header);
  --spacing-footer: var(--footer);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
}

@layer base {
  :root {
    --header: 3rem;
    --footer: 3rem;
  }

  html.light {
    --primary: #222324;
    --secondary: #e7e7eb;
    --background: #f7f7f7;
  }

  html.dark {
    --primary: #e5e5e5;
    --secondary: #171717;
    --background: #121212;
  }
}

:root {
  font-synthesis: none;
  color: var(--color-primary);
  text-rendering: optimizeLegibility;
  background-color: var(--color-background);
}

body {
  font-family: SFPro, sans-serif;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
